.expertiseContainer .codeTag {
  opacity: 0.3;
}

.expertiseContainer {
  position: relative;
}

.expertiseDescription {
  opacity: 0;
  height: 0;
  transform: translateX(-20px);
  transition: all 0.5s ease;
}

.expertiseContainer:hover .expertiseDescription {
  opacity: 1;
  height: 100%;
  transform: translateX(0);
}
