.experienceContainer {
  border-left: 2px solid var(--primary-color);
}

.experienceContainer > div {
  position: relative;
}

.stickyContainer {
  position: sticky;
  top: 0;
  padding-top: 4px;
}

.experienceContainer::webkit-scrollbar {
  display: none;
}

.resumeContainer:hover {
  color: var(--primary-color);
}

@media (max-width: 1120px) {
  .experienceSection {
    display: flex;
    flex-direction: column;
    gap: 48px;
  }

  .experienceContainer {
    padding-left: 0px;
    border: none;
    width: 100%;
  }

  .stickyContainer {
    position: static;
    padding-top: 0px;
    width: 100%;
  }
}
