@import "tailwindcss";

:root {
  --primary-color: #ec9c04;
  --secondary-color: #f5b301;
  --font: "Plus Jakarta Sans", sans-serif;
  --bg-color: #242527;
  --text-color: #ffffff;
}

.darkmode {
  --bg-color: #242527;
  --text-color: #ffffff;
}

.lightmode {
  --bg-color: #ffffff;
  --text-color: #242527;
}

body {
  background: var(--bg-color);
  color: var(--text-color);
  font-family: var(--font);
  font-weight: 400;
}
